body{
    background-color: lightgray;
}

h1{
    color: red;
    text-align: center;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

li{
    margin: 10px;
    padding: 5px;
}

.nav-bar{
    background-color: aqua;
    margin: 30px;
}
